<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="menu-item" routerLink="/">World On Wheels</a>
    <a class="menu-item" routerLink="/cars">Cars</a>
    <span class="spacer"></span>
    <div style="margin: 15px;" *ngIf="user.nickname!==''">
      <span>{{user.nickname}}</span>
    </div>
    <button mat-flat-button *ngIf="user.nickname!==''" (click)="logoff()">Log Off</button>
    <button mat-flat-button *ngIf="user.nickname===''" (click)="signin()">Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>
